<header class="main-header">
  <div class="left-content">
    <div>
      <a [routerLink]="['/dashboard']" class="logo">
        <i class="icon icon-hoz-line"></i>
        <span i18n>MEAN GraphQL</span>
      </a>
    </div>
    <div class="light-txt" i18n >version 1.0</div>
  </div>
  <div class="header-opts">
    <a class="lnk-logger" (click)="profile(user)">
      <span>{{ user.firstName }} {{ user.lastName }}</span>
    </a>
    <a class="lnk-logger" (click)="logout()">
      <span><i class="fa fa-sign-out"></i></span>
    </a>
  </div>
</header>
